# Maven
target/

# NetBeans
nbproject/private/
nbbuild/
nbdist/
.nb-gradle/

# Eclipse
.settings/
.project
.classpath

# VS Code
.vscode/

# OS
Thumbs.db
.DS_Store

# Logs
*.log

nb-configuration.xml
src/main/webapp/META-INF/context.xml

# Java compiled files
*.class